<div class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns mat-typography"
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-column">
      <header class="page-topbar" id="header">
            <div class="navbar navbar-fixed">
                  <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-light">
                        <div class="nav-wrapper">
                              <ul class="navbar-list right">
                                    <li><a class="waves-effect waves-block waves-light profile-button"
                                                href="javascript:void(0);" data-target="profile-dropdown"><span
                                                      class="avatar-status avatar-online"><img
                                                            src="https://api.giaongay.com.vn/image/logo.png"
                                                            alt="avatar"><i></i></span></a></li>
                                    <li><a class="waves-effect waves-block waves-light sidenav-trigger" href="#"
                                                data-target="slide-out-right"><i
                                                      class="material-icons">format_indent_increase</i></a></li>
                              </ul>
                              <ul class="dropdown-content" id="translation-dropdown">
                              </ul>
                              <ul class="dropdown-content" id="notifications-dropdown">
                              </ul>
                              <ul class="dropdown-content" id="profile-dropdown">
                                    <li style="width: 200px;"><a class="grey-text text-darken-1" href="{{domainName}}Membership"><i
                                                      class="material-icons">lock_outline</i> Đổi mật khẩu</a></li>
                                    <li style="width: 200px;"><a class="grey-text text-darken-1" (click)="onLogout()"><i
                                                      class="material-icons">keyboard_tab</i>
                                                Đăng xuất</a></li>
                              </ul>
                        </div>
                        <nav class="display-none search-sm">
                              <div class="nav-wrapper">
                              </div>
                        </nav>
                  </nav>
            </div>
      </header>
      <aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-dark sidenav-active-rounded">
            <div class="brand-sidebar">
                  <h1 class="logo-wrapper"><a class="brand-logo darken-1" href="#" style="color:#009f3c;"><span
                                    class="logo-text hide-on-med-and-down" style="color:#009f3c;">Shop
                                    | Giao Ngay</span></a><a class="navbar-toggler" href="#"><i
                                    class="material-icons">radio_button_checked</i></a></h1>
            </div>
            <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow"
                  id="slide-out" data-menu="menu-navigation" data-collapsible="accordion">      
                  <li class="navigation-header"><a class="navigation-header-text">{{MembershipService.formData.FullName}} - {{MembershipService.formData.Phone}}</a><i class="navigation-header-icon material-icons">more_horiz</i>
                  </li>                        
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}OrderCall"><i
                                    class="material-icons">add_alert</i><span class="menu-title" data-i18n="">Báo lấy
                                    hàng</span></a>
                  </li>
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}OrderShipper"><i
                                    class="material-icons">local_shipping</i><span class="menu-title" data-i18n="">Phát
                                    hàng</span></a>
                  </li>
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}OrderDelivery"><i
                                    class="material-icons">filter_none</i><span class="menu-title" data-i18n="">Lên
                                    hàng</span></a>
                  </li>                 
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}MembershipTotalDebt"><i
                                    class="material-icons">attach_money</i><span class="menu-title" data-i18n="">Công
                                    nợ</span></a>
                  </li>
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}Membership"><i
                                    class="material-icons">face</i><span class="menu-title" data-i18n="">Tài
                                    khoản</span></a>
                  </li>
            </ul>
            <div class="navigation-background"></div><a
                  class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only"
                  href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
      </aside>
      <div id="main">
            <router-outlet></router-outlet>
      </div>
</div>