<form autocomplete="off" class="row" #form="ngForm" (submit)="onSubmit(form)">
    <div class="col s12 m12 l9">
        <h5 class="card-title"><b>Thanh toán</b></h5>
    </div>
    <div class="col s12 m12 l3">
        <button title="Lưu thay đổi" type="submit" class="btn-floating waves-effect waves-light cyan"><i
                class="material-icons">save</i></button>&nbsp;&nbsp;&nbsp;
        <a title="Đóng" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="onClose()">
            <i class="material-icons">close</i>
        </a>
    </div>
    <input name="ID" [(ngModel)]="OrderDeliveryPaymentHistoryService.formData.ID" type="hidden">    
    <input name="ParentID" [(ngModel)]="OrderDeliveryPaymentHistoryService.formData.ParentID" type="hidden">    
    <div class="col s12 m12 l6">        
        <div class="col s4 m4 l4">
            <div class="input-field">
                <label for="PaymentDate">Ngày thanh toán</label>
            </div>
        </div>
        <div class="col s8 m8 l8">
            <div class="input-field">
                <input placeholder="Ngày thanh toán" name="PaymentDate" [(ngModel)]="OrderDeliveryPaymentHistoryService.formData.PaymentDate" type="date">
            </div>
        </div>         
    </div>
    <div class="col s12 m12 l6">
        <div class="col s4 m4 l4">
            <div class="input-field">
                <label for="PaymentAmount">Thanh toán</label>
            </div>
        </div>
        <div class="col s8 m8 l8">
            <div class="input-field">
                <input placeholder="Thanh toán" name="PaymentAmount" [(ngModel)]="OrderDeliveryPaymentHistoryService.formData.PaymentAmount" type="number">
            </div>
        </div>                  
    </div>
</form>