<form autocomplete="off" class="row" #form="ngForm" (submit)="onSubmit(form)">
    <div class="col s6 m6 l9">
        <h5 class="card-title"><b>Tài liệu: {{MembershipService.formData.FullName}}</b></h5>
    </div>
    <div class="col s6 m6 l3">
        <button [disabled]="!MembershipService.formData.UserName" title="Lưu thay đổi" type="submit"
            class="mb-6 btn-floating waves-effect waves-light cyan"><i
                class="material-icons">save</i></button>&nbsp;&nbsp;&nbsp;
        <a title="Đóng" class="mb-6 btn-floating waves-effect waves-light purple lightrn-1" (click)="onClose()">
            <i class="material-icons">close</i>
        </a>
    </div>
    <input name="ParentID" [(ngModel)]="MembershipFileService.formData.ParentID" type="hidden">
    <div class="col s6 m6 l6">
        <div class="col s4 m4 l4">
            <div class="input-field">
                <label for="Name">Tài liệu</label>
            </div>
        </div>
        <div class="col s8 m8 l8">
            <div class="input-field">
                <input placeholder="Tài liệu" name="Name" [(ngModel)]="MembershipFileService.formData.Name" type="text">
            </div>
        </div>
        <div class="col s6 m6 l12">
            <div class="input-field col s12 m12 l4">
                <input type="file" multiple (change)="changeImage($event.target.files)">
            </div>
        </div>
        <div class="input-field col s12 m12 l12">
            <img class="responsive-img" width="40%" src="{{MembershipFileService.formData.Note}}">
        </div>
    </div>
    <div class="col s6 m6 l6">
        <div class="KhungOverflow">
            <mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="ID">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Tài liệu
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <a target="_blank" href="{{imageURL}}/{{element.Note}}" *ngIf="element.Note"
                            title="{{element.Name}}">
                            <b>{{element.Name}}</b></a>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <a title="Xóa" class="mb-6 btn-floating waves-effect waves-light red"
                            (click)="onDelete(element)"><i class="material-icons">delete_outline</i></a>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="4">
                        Đang tải dữ liệu...
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="4">
                        Chưa có dữ liệu.
                    </mat-footer-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']"
                    [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}">
                </mat-footer-row>
            </mat-table>
            <!-- <mat-paginator [pageSizeOptions]="[10,20,50,100]" [pageSize]="10"
                [showFirstLastButtons]></mat-paginator>                            -->
        </div>
    </div>
</form>