<div class="row">
    <div class="col s12">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div id="basic-tabs" class="card card card-default scrollspy">
                            <div class="card-content">
                                <div class="card-title">
                                    <div class="row">
                                        <div class="col s12 m6 l6">
                                            <h5 class="card-title" style="font-size: 14px;">
                                                <b></b>
                                            </h5>
                                        </div>
                                        <div class="col s12 m6 l6">
                                            <ul class="tabs">
                                                <li class="tab col m4 s12 p-0"><a class="active p-0" href="#1">Đơn
                                                        hàng</a></li>
                                                <li class="tab col m4 s12 p-0"><a class="p-0" href="#2">Hình ảnh</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="1">
                                    <form autocomplete="off" class="row" #form="ngForm" (submit)="onSubmit(form)">
                                        <div class="col s12 m12 l12">
                                            <a title="Danh sách" href="javascript:window.open('','_self').close();"
                                                class="btn-floating waves-effect waves-light green darken-1"><i
                                                    class="material-icons">arrow_back</i></a>&nbsp;
                                            <a title="In đơn hàng" (click)="onPrint()" *ngIf="OrderDeliveryService.formData.ID"
                                                class="btn-floating waves-effect waves-light green darken-1"><i
                                                    class="material-icons">print</i></a>&nbsp;
                                            <button
                                                [disabled]="!OrderDeliveryService.formData.DeliveryAddress || !OrderDeliveryService.formData.CustomerPhone"
                                                title="Lưu thay đổi" type="submit"
                                                class="btn-floating waves-effect waves-light cyan"><i
                                                    class="material-icons">save</i></button>&nbsp;

                                        </div>
                                        <input name="ID" [(ngModel)]="OrderDeliveryService.formData.ID" type="hidden">
                                        <div class="col s12 m12 l5">
                                            <div class="col s12 m12 l4">
                                                <div class="input-field">
                                                    <label for="ShopID">Shop</label>
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l8">
                                                <div class="input-field">
                                                    <mat-select
                                                        style="padding-top:20px; padding-bottom:10px; border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-style: solid;"
                                                        name="ShopID" class="browser-default"
                                                        [(ngModel)]="OrderDeliveryService.formData.ShopID">
                                                        <mat-option *ngFor="let item of MembershipService.listShop"
                                                            [value]="item.ID">
                                                            {{item.Display}}
                                                        </mat-option>
                                                    </mat-select>
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l4">
                                                <div class="input-field">
                                                    <label for="ShipperID">Shipper</label>
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l8">
                                                <div class="input-field">
                                                    <mat-select
                                                        style="padding-top:20px; padding-bottom:10px; border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-style: solid;"
                                                        name="ShipperID" class="browser-default"
                                                        [(ngModel)]="OrderDeliveryService.formData.ShipperID">
                                                        <mat-option *ngFor="let item of MembershipService.listShipper"
                                                            [value]="item.ID">
                                                            {{item.Display}}
                                                        </mat-option>
                                                    </mat-select>
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l4">
                                                <div class="input-field">
                                                    <label for="CustomerFullName">Khách hàng</label>
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l8">
                                                <div class="input-field">
                                                    <input placeholder="Khách hàng" name="CustomerFullName"
                                                        [(ngModel)]="OrderDeliveryService.formData.CustomerFullName"
                                                        type="text">
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l4">
                                                <div class="input-field">
                                                    <label for="CustomerPhone">Điện thoại</label>
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l8">
                                                <div class="input-field">
                                                    <input placeholder="Điện thoại" name="CustomerPhone"
                                                        [(ngModel)]="OrderDeliveryService.formData.CustomerPhone"
                                                        type="text">
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l4">
                                                <div class="input-field">
                                                    <label for="DeliveryAddress">Địa chỉ</label>
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l8">
                                                <div class="input-field">
                                                    <input placeholder="Địa chỉ" name="DeliveryAddress"
                                                        [(ngModel)]="OrderDeliveryService.formData.DeliveryAddress"
                                                        type="text">
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l4">
                                                <div class="input-field">
                                                    <label for="DeliveryDistrictID">Quận huyện</label>
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l8">
                                                <div class="input-field">
                                                    <mat-select (selectionChange)="onChangeDistrictID($event)"
                                                        style="padding-top:30px; padding-bottom:10px; border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-style: solid;"
                                                        name="DeliveryDistrictID" class="browser-default"
                                                        [(ngModel)]="OrderDeliveryService.formData.DeliveryDistrictID">
                                                        <mat-option *ngFor="let item of DistrictService.list"
                                                            [value]="item.ID">
                                                            {{item.Display}}
                                                        </mat-option>
                                                    </mat-select>
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l4">
                                                <div class="input-field">
                                                    <label for="DeliveryWardID">Phường xã</label>
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l8">
                                                <div class="input-field">
                                                    <mat-select
                                                        style="padding-top:30px; padding-bottom:10px; border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-style: solid;"
                                                        name="DeliveryWardID" class="browser-default"
                                                        [(ngModel)]="OrderDeliveryService.formData.DeliveryWardID">
                                                        <mat-option *ngFor="let item of WardService.list"
                                                            [value]="item.ID">
                                                            {{item.Display}}
                                                        </mat-option>
                                                    </mat-select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col s12 m12 l7">
                                            <div class="col s12 m12 l12">
                                                <div class="col s12 m12 l4">
                                                    <div class="input-field">
                                                        <p>
                                                            <label>
                                                                <input type="checkbox" class="filled-in"
                                                                    name="IsExpress"
                                                                    [(ngModel)]="OrderDeliveryService.formData.IsExpress" />
                                                                <span>Hoả tốc</span>
                                                            </label>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col s12 m12 l4">
                                                    <div class="input-field">
                                                        <p>
                                                            <label>
                                                                <input type="checkbox" class="filled-in"
                                                                    name="IsShopPayment"
                                                                    [(ngModel)]="OrderDeliveryService.formData.IsShopPayment" />
                                                                <span>Shop trả phí giao</span>
                                                            </label>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col s12 m12 l4">
                                                    <div class="input-field">
                                                        <p>
                                                            <label>
                                                                <input type="checkbox" class="filled-in"
                                                                    name="IsPrepayment"
                                                                    [(ngModel)]="OrderDeliveryService.formData.IsPrepayment" />
                                                                <span>Ứng tiền trả shop</span>
                                                            </label>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l4">
                                                <div class="input-field">
                                                    <label for="DateCreated">Ngày tạo</label>
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l8">
                                                <div class="input-field">
                                                    <input style="text-align: right; font-weight: bold; width: 100%;"
                                                        placeholder="DateCreated" name="DateCreated"
                                                        [(ngModel)]="OrderDeliveryService.formData.DateCreated"
                                                        type="datetime-local">
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l4">
                                                <div class="input-field">
                                                    <label for="Barcode">Đơn hàng</label>
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l8">
                                                <div class="input-field">
                                                    <p
                                                        style="text-align: right; color: #000000; font-weight: bold; font-size: 30px;">
                                                        {{OrderDeliveryService.formData.Barcode}}</p>
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l4">                                                
                                                <div class="input-field">
                                                    <label for="TotalBeforeTax">Thành tiền</label>
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l8">
                                                <div class="input-field">
                                                    <p
                                                        style="text-align: right; color: green; font-weight: bold; font-size: 30px;">
                                                        {{OrderDeliveryService.formData.TotalBeforeTax | number:
                                                        '1.0-0'}}</p>
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l12">
                                                <hr />
                                                <div class="KhungOverflow">
                                                    <mat-table [dataSource]="dataSource" matSort>
                                                        <ng-container matColumnDef="Name">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Dịch vụ
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let element"
                                                                style="margin-right: 10px;">
                                                                <input placeholder="Dịch vụ" name="Name" *ngIf="!element.CategoryOrderDetailID"
                                                                    [(ngModel)]="element.Name" type="text">
                                                                <p *ngIf="element.CategoryOrderDetailID">{{element.Name}}</p>
                                                            </mat-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="Quantity">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Số lượng
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let element"
                                                                style="margin-right: 10px;">
                                                                <input placeholder="0" name="Quantity" *ngIf="!element.CategoryOrderDetailID"
                                                                    style="text-align: right;"
                                                                    [(ngModel)]="element.Quantity" type="number">
                                                                    <div style="text-align: right;" *ngIf="element.CategoryOrderDetailID">{{element.Quantity | number: '1.0-0'}}</div>
                                                            </mat-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="Price">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Giá
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let element"
                                                                style="margin-right: 10px;">
                                                                <input placeholder="0" name="Price" *ngIf="!element.CategoryOrderDetailID"
                                                                    style="text-align: right;"
                                                                    [(ngModel)]="element.Price" type="number">
                                                                    <p style="text-align: right;" *ngIf="element.CategoryOrderDetailID">{{element.Price | number: '1.0-0'}}</p>
                                                            </mat-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="Note">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Ghi chú
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let element"
                                                                style="margin-right: 10px;">
                                                                <input placeholder="Ghi chú" name="Note" *ngIf="!element.CategoryOrderDetailID"
                                                                    [(ngModel)]="element.Note" type="text">
                                                                    <p *ngIf="element.CategoryOrderDetailID">{{element.Note}}</p>
                                                            </mat-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="Total">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Tổng
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let element">
                                                                <p style="text-align: right; font-weight: bold;">
                                                                    {{element.Total | number: '1.0-0'}}
                                                                </p>
                                                            </mat-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="Save">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let element">
                                                                <a (click)="onOrderDeliveryDetailAdd()"
                                                                    *ngIf="element.CategoryOrderDetailID"
                                                                    class="btn-floating waves-effect waves-light green darken-1"><i
                                                                        class="material-icons">add</i></a>
                                                                <a *ngIf="!element.CategoryOrderDetailID"
                                                                    (click)="onOrderDeliveryDetailSave(element)"
                                                                    class="btn-floating waves-effect waves-light cyan"><i
                                                                        class="material-icons">create</i></a>&nbsp;
                                                                <a *ngIf="!element.CategoryOrderDetailID"
                                                                    (click)="onOrderDeliveryDetailDelete(element)"
                                                                    class="btn-floating waves-effect waves-light red"><i
                                                                        class="material-icons">delete_outline</i></a>

                                                            </mat-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="loading">
                                                            <mat-footer-cell *matFooterCellDef colspan="4">
                                                                Đang tải dữ liệu...
                                                            </mat-footer-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="noData">
                                                            <mat-footer-cell *matFooterCellDef colspan="4">
                                                                Chưa có dữ liệu.
                                                            </mat-footer-cell>
                                                        </ng-container>
                                                        <mat-header-row
                                                            *matHeaderRowDef="displayColumns"></mat-header-row>
                                                        <mat-row
                                                            *matRowDef="let row; columns: displayColumns;"></mat-row>
                                                        <mat-footer-row *matFooterRowDef="['loading']"
                                                            [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
                                                        <mat-footer-row *matFooterRowDef="['noData']"
                                                            [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}">
                                                        </mat-footer-row>
                                                    </mat-table>
                                                    <!-- <mat-paginator [pageSizeOptions]="[10,20,50,100]" [pageSize]="10"
                                                        [showFirstLastButtons]></mat-paginator>                            -->
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-loading *ngIf="isShowLoading"></app-loading>