<div class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns mat-typography"
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-column">
      <header class="page-topbar" id="header">
            <div class="navbar navbar-fixed">
                  <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-light">
                        <div class="nav-wrapper">
                              <ul class="navbar-list right">
                                    <li><a class="waves-effect waves-block waves-light profile-button"
                                                href="javascript:void(0);" data-target="profile-dropdown"><span
                                                      class="avatar-status avatar-online"><img
                                                            src="https://crm.thontrang.com/images/logo100.png"
                                                            alt="avatar"><i></i></span></a></li>
                                    <li><a class="waves-effect waves-block waves-light sidenav-trigger" href="#"
                                                data-target="slide-out-right"><i
                                                      class="material-icons">format_indent_increase</i></a></li>
                              </ul>
                              <ul class="dropdown-content" id="translation-dropdown">
                              </ul>
                              <ul class="dropdown-content" id="notifications-dropdown">
                              </ul>
                              <ul class="dropdown-content" id="profile-dropdown">
                                    <li style="width: 200px;"><a class="grey-text text-darken-1" href="#"><i
                                                      class="material-icons">lock_outline</i> Đổi mật khẩu</a></li>
                                    <li style="width: 200px;"><a class="grey-text text-darken-1"><i
                                                      class="material-icons">keyboard_tab</i>
                                                Đăng xuất</a></li>
                              </ul>
                        </div>
                        <nav class="display-none search-sm">
                              <div class="nav-wrapper">
                              </div>
                        </nav>
                  </nav>
            </div>
      </header>
      <aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-dark sidenav-active-rounded">
            <div class="brand-sidebar">
                  <h1 class="logo-wrapper"><a class="brand-logo darken-1" href="#" style="color:#009f3c;"><span
                                    class="logo-text hide-on-med-and-down" style="color:#009f3c;">CRM
                                    | Giao Ngay</span></a><a class="navbar-toggler" href="#"><i
                                    class="material-icons">radio_button_checked</i></a></h1>
            </div>
            <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow"
                  id="slide-out" data-menu="menu-navigation" data-collapsible="accordion">
                  <li class="bold"><a class="collapsible-header waves-effect waves-cyan " href="#"><i
                                    class="material-icons">face</i><span class="menu-title" data-i18n="">Thành
                                    viên</span></a>
                        <div class="collapsible-body">
                              <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                                    <li><a class="collapsible-body" href="{{domainName}}Membership" data-i18n=""><i
                                                      class="material-icons">radio_button_unchecked</i><span>Điều
                                                      hành</span></a>
                                    </li>
                                    <li><a class="collapsible-body" href="{{domainName}}Shop" data-i18n=""><i
                                                      class="material-icons">radio_button_unchecked</i><span>Shop</span></a>
                                    </li>
                                    <li><a class="collapsible-body" href="{{domainName}}Shipper" data-i18n=""><i
                                                      class="material-icons">radio_button_unchecked</i><span>Shipper</span></a>
                                    </li>
                              </ul>
                        </div>
                  </li>
                  <li class="bold"><a class="collapsible-header waves-effect waves-cyan " href="#"><i
                                    class="material-icons">brightness_5</i><span class="menu-title" data-i18n="">Hệ
                                    thống</span></a>
                        <div class="collapsible-body">
                              <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                                    <li><a class="collapsible-body" href="{{domainName}}Company" data-i18n=""><i
                                                      class="material-icons">radio_button_unchecked</i><span>Công
                                                      ty</span></a>
                                    </li>
                                    <li><a class="collapsible-body" href="{{domainName}}CategoryMembership"
                                                data-i18n=""><i
                                                      class="material-icons">radio_button_unchecked</i><span>Thành
                                                      viên</span></a>
                                    </li>
                                    <li><a class="collapsible-body" href="{{domainName}}CategoryOrderPayment"
                                                data-i18n=""><i
                                                      class="material-icons">radio_button_unchecked</i><span>Thanh
                                                      toán</span></a>
                                    </li>
                                    <li><a class="collapsible-body" href="{{domainName}}CategoryOrderStatus"
                                                data-i18n=""><i
                                                      class="material-icons">radio_button_unchecked</i><span>Trạng
                                                      thái</span></a>
                                    </li>
                                    <li><a class="collapsible-body" href="{{domainName}}Bank" data-i18n=""><i
                                                      class="material-icons">radio_button_unchecked</i><span>Ngân
                                                      hàng</span></a>
                                    </li>
                                    <li><a class="collapsible-body" href="{{domainName}}Province" data-i18n=""><i
                                                      class="material-icons">radio_button_unchecked</i><span>Tỉnh
                                                      thành</span></a>
                                    </li>
                                    <li><a class="collapsible-body" href="{{domainName}}District" data-i18n=""><i
                                                      class="material-icons">radio_button_unchecked</i><span>Quận
                                                      huyện</span></a>
                                    </li>
                                    <li><a class="collapsible-body" href="{{domainName}}Ward" data-i18n=""><i
                                                      class="material-icons">radio_button_unchecked</i><span>Phường
                                                      xã</span></a>
                                    </li>
                                    <li><a class="collapsible-body" href="{{domainName}}Upload" data-i18n=""><i
                                                      class="material-icons">radio_button_unchecked</i><span>Upload</span></a>
                                    </li>
                              </ul>
                        </div>
                  </li>
            </ul>
            <div class="navigation-background"></div><a
                  class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only"
                  href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
      </aside>
      <div id="main">
            <router-outlet></router-outlet>
      </div>
</div>