<form autocomplete="off" class="row" #form="ngForm" (submit)="onSubmit(form)">
    <div class="col s6 m6 l9">
        <h5 class="card-title"><b>Công ty: {{CompanyService.formData.FullName}}</b></h5>
    </div>
    <div class="col s6 m6 l3">
        <button [disabled]="!CompanyService.formData.FullName" title="Lưu thay đổi" type="submit" class="btn-floating waves-effect waves-light cyan"><i
                class="material-icons">save</i></button>&nbsp;&nbsp;&nbsp;
        <a title="Đóng" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="onClose()">
            <i class="material-icons">close</i>
        </a>
    </div>
    <input name="ID" [(ngModel)]="CompanyService.formData.ID" type="hidden">    
    <div class="col s6 m6 l6">        
        <div class="col s4 m4 l4">
            <div class="input-field">
                <label for="FullName">Công ty</label>
            </div>
        </div>
        <div class="col s8 m8 l8">
            <div class="input-field">
                <input placeholder="Công ty" name="FullName" [(ngModel)]="CompanyService.formData.FullName" type="text">
            </div>
        </div>  
        <div class="col s4 m4 l4">
            <div class="input-field">
                <label for="LicenseBusinessNumber">Mã số thuế</label>
            </div>
        </div>
        <div class="col s8 m8 l8">
            <div class="input-field">
                <input placeholder="Mã số thuế" name="LicenseBusinessNumber" [(ngModel)]="CompanyService.formData.LicenseBusinessNumber" type="text">
            </div>
        </div>  
        <div class="col s4 m4 l4">
            <div class="input-field">
                <label for="AccountNumber">Tài khoản ngân hàng</label>
            </div>
        </div>
        <div class="col s8 m8 l8">
            <div class="input-field">
                <input placeholder="Tài khoản ngân hàng" name="AccountNumber" [(ngModel)]="CompanyService.formData.AccountNumber" type="text">
            </div>
        </div>  
        <div class="col s6 m6 l4">
            <div class="input-field">
                <label for="BankID">Ngân hàng</label>
            </div>
        </div>
        <div class="col s6 m6 l8">
            <mat-select
                style="padding-top:30px; padding-bottom:10px; border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-style: solid;"
                name="BankID" class="browser-default"
                [(ngModel)]="CompanyService.formData.BankID">
                <mat-option *ngFor="let item of BankService.list"
                    [value]="item.ID">
                    {{item.Display}}
                </mat-option>
            </mat-select>
            <br />
            <br />
        </div> 
    </div>
    <div class="col s6 m6 l6">            
        <div class="col s12 m12 l12">
            <div class="col s6 m6 l3">
                <div class="input-field">
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in" name="Active"
                                [(ngModel)]="CompanyService.formData.Active" />
                            <span>Kích hoạt</span>
                        </label>
                    </p>
                </div>
            </div>           
        </div>
        <div class="col s6 m6 l12">           
            <div class="input-field col s12 m12 l4">
                <input type="file" accept="image/*"
                    (change)="changeImage($event.target.files)">
            </div>
        </div>
        <div class="input-field col s12 m12 l12">
            <a target="_blank" href="{{CompanyService.formData.QRcodeFile}}"
                *ngIf="CompanyService.formData.QRcodeFile" title="{{CompanyService.formData.QRcodeFile}}">
                <img class="responsive-img" width="40%"                    
                    src="{{CompanyService.formData.QRcodeFile}}"></a>
        </div>
    </div>
</form>