<form autocomplete="off" class="row" #form="ngForm" (submit)="onSubmit(form)">
    <div class="col s6 m6 l9">
        <h5 class="card-title"><b>Phường xã: {{WardService.formData.Display}}</b></h5>
    </div>
    <div class="col s6 m6 l3">
        <button [disabled]="!WardService.formData.Display" title="Lưu thay đổi" type="submit" class="mb-6 btn-floating waves-effect waves-light cyan"><i
                class="material-icons">save</i></button>&nbsp;&nbsp;&nbsp;
        <a title="Đóng" class="mb-6 btn-floating waves-effect waves-light purple lightrn-1" (click)="onClose()">
            <i class="material-icons">close</i>
        </a>
    </div>
    <input name="ID" [(ngModel)]="WardService.formData.ID" type="hidden">    
    <div class="col s6 m6 l6">
        <div class="col s4 m4 l4">
            <div class="input-field">
                <label for="Display">Hiển thị</label>
            </div>
        </div>
        <div class="col s8 m8 l8">
            <div class="input-field">
                <input placeholder="Hiển thị" name="Display" [(ngModel)]="WardService.formData.Display" type="text">
            </div>
        </div>    
        <div class="col s4 m4 l4">
            <div class="input-field">
                <label for="SortOrder">Sắp xếp</label>
            </div>
        </div>
        <div class="col s8 m8 l8">
            <div class="input-field">
                <input placeholder="Sắp xếp" name="SortOrder" [(ngModel)]="WardService.formData.SortOrder" type="number">
            </div>
        </div>       
    </div>
    <div class="col s6 m6 l6"> 
        <div class="col s6 m6 l4">
            <div class="input-field">
                <label for="ParentID">Quận huyện</label>
            </div>
        </div>
        <div class="col s6 m6 l8">
            <mat-select
                style="padding-top:30px; padding-bottom:10px; border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-style: solid;"
                name="ParentID" class="browser-default"
                [(ngModel)]="WardService.formData.ParentID">
                <mat-option *ngFor="let item of DistrictService.list"
                    [value]="item.ID">
                    {{item.Display}}
                </mat-option>
            </mat-select>
            <br />
            <br />
        </div>      
        <div class="col s12 m12 l12">
            <div class="col s6 m6 l3">
                <div class="input-field">
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in" name="Active"
                                [(ngModel)]="WardService.formData.Active" />
                            <span>Kích hoạt</span>
                        </label>
                    </p>
                </div>
            </div>           
        </div>
    </div>
</form>